body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.loaders {
    width: 100%;
    min-height: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 767px) {
    .loaders {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .loaders {
        grid-template-columns: repeat(2, 1fr);
    }
}
