.loaders .loader-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaders .loader-4 .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    position: relative;
}

.loaders .loader-4 .loader::before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid transparent;
    border-top: 3px solid red;
    animation: second 700ms infinite linear;
}
