.loaders .loader-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaders .loader-5 .loader {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    position: relative;
}

.loaders .loader-5 .loader::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: second 700ms infinite linear;
    border-left: 3px solid red;
}
